<!-- <!DOCTYPE html>
<html>
<head>
  <title>Library - Book Details</title>
</head>
<body>
  <h1>Book Details</h1>
  <p>Title: <%= book.title %></p>
  <p>Author: <%= book.author %></p>
  <a href="/books/<%= book._id %>/edit">Edit</a>
  <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</body>
</html> -->
